USE [master]
GO
/****** Object:  Database [dbtest]    Script Date: 10-08-2023 13:25:30 ******/
CREATE DATABASE [dbtest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbtest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbtest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbtest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbtest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbtest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbtest]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10-08-2023 13:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NULL,
	[lastnamme] [varchar](50) NULL,
	[Rollnumber] [varchar](50) NULL,
	[Classname] [varchar](50) NULL,
	[percentage] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [firstname], [lastnamme], [Rollnumber], [Classname], [percentage]) VALUES (1, N'Ajeet', N'kumar', N'242092', N'Diploma', 89)
INSERT [dbo].[users] ([id], [firstname], [lastnamme], [Rollnumber], [Classname], [percentage]) VALUES (2, N'Dayanand kumar', N'Gupta', N'21864103', N'Mca', 71)
INSERT [dbo].[users] ([id], [firstname], [lastnamme], [Rollnumber], [Classname], [percentage]) VALUES (3, N'Mithilesh', N'kumar', N'5623410', N'B.tech', 89)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
USE [master]
GO
